body {
  background-image: url("bkgd.jpg");
}
h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 54px;
  letter-spacing: 0.6px;
  word-spacing: 1.2px;
  color: #BE56CB;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: 2px 3px 6px rgba(255,255,255,0.67);
  text-align: center;
}
h2 {
  font-family: "arial black", Gadget, sans-serif;
  font-size: 24px;
  letter-spacing:0.6px;
  word-spacing: 1.2px;
  color: purple;
}
